<form action="/rezultat-chestionar" method="POST" class="quiz-form">
    <% intrebari.forEach((intrebare, index) => { %>
        <fieldset class="question">
            <legend><%= intrebare.intrebare %></legend>
            <% intrebare.variante.forEach((varianta, i) => { %>
                <label class="option">
                    <input type="radio" name="intrebare<%= index %>" value="<%= i %>" required />
                    <span><%= varianta %></span>
                </label>
            <% }) %>
        </fieldset>
    <% }) %>

    <button type="submit" class="submit-button">Trimite răspunsurile</button>
</form>
