<a href="/autentificare">Autentificare</a>

<% if (utilizator) { %>
    <p>Bine ai venit, <%= utilizator.nume %> <%= utilizator.prenume %>!</p>
<% } %>

<form method="GET" action="/creare-bd">
    <button type="submit">Creare BD</button>
</form>

<form method="GET" action="/inserare-bd">
    <button type="submit">Încarcare BD</button>
</form>