<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8" />
    <title>Chestionar</title>
    <link rel="stylesheet" href="/stil.css" />
</head>

<body>

    <header>
        <div class="header-content">
            <div class="header-section">
                <h1>Cosmetice</h1>
                <h4>Din grija pentru tenul tau...</h4>
            </div>

            <div class="header-section">
                <img src="images/header-img.jpeg" alt="skincare" width="225" height="400">
            </div>
        </div><br>

    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>&copy; 2025 Programare Web</p>
    </footer>
</body>

</html>