<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8" />
    <title>Chestionar</title>
    <link rel="stylesheet" href="/stil.css" />
</head>

<body>
    <header>
        <h1>Cosmetice</h1>
        <% if (utilizator) { %>
            <section id = leftHeader>
                <p>Logat ca <%= utilizator.prenume %> <%= utilizator.nume %></p>
                <form method="POST" action="/logout">
                    <button type="submit">Delogare</button>
                </form>
            </section>
            
        <% } %>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>&copy; 2025 Programare Web</p>
    </footer>
</body>

</html>