body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin-bottom: 2em;
}

#leftHeader {
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: flex-end;
    text-align: left;
}

fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 8px;
    background-color: #fff;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin: 0.5em 0;
}

h1, h2, h3 {
    color: #444;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}